Привет, [{{ new_member.full_name | escape }}](tg://user?id={{ new_member.id }})!

Чтобы оставаться в этом канале, пройди антиспам и нажми кнопку с этим эмоджи: *{{ confirm_emoji }}*

Не пройди проверку — можешь быть удалён из чата.
